# Reference: https://www.appveyor.com/docs/appveyor-yml/
#---------------------------------#
#      general configuration      #
#---------------------------------#

version: 3.0.{build}

branches:
  only:
    - master

skip_tags: true


#---------------------------------#
#    environment configuration    #
#---------------------------------#

image: Visual Studio 2015

environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

pull_requests:
  do_not_increment_build_number: true


#---------------------------------#
#       build configuration       #
#---------------------------------#

platform: Any CPU

configuration:
  - Release

before_build:
  - dotnet restore

build_script:
  - dotnet build -c %CONFIGURATION%


#---------------------------------#
#       tests configuration       #
#---------------------------------#

test_script:
  - dotnet test -c %CONFIGURATION% test\unit\Http.Query.Filter.Test\Http.Query.Filter.Test.csproj


#---------------------------------#
#     deployment configuration    #
#---------------------------------#

deploy:
  - provider: NuGet
    server: https://www.nuget.org/packages/Http.Query.Filter
    api_key:
      secure: NxNpeauRwvVn3Uvt3UPyB2a+n4og2WWv9x4527DbKy3UomugXXZjGfqwr3IE6hVp
    on:
      branch: master